<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlockChat</title>

    <link
      rel="icon"
      href="{{ url_for('static', filename='icons/favicon.ico') }}?v=3"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}?v=3"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}?v=3"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}?v=3"
    />

    <link
      href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/blockchain.css') }}"
    />

    <script defer src="{{ url_for('static', filename='css/fontawesome/js/brands.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='css/fontawesome/js/solid.min.js') }}""></script>
    <script defer src="{{ url_for('static', filename='css/fontawesome/js/fontawesome.min.js') }}"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg fixed-top container-fluid px-2 py-1 navbar-dark bg-dark"
    >
      <a class="navbar-brand" href="/">BlockChat</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transaction">Transaction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/block">Block</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/blockchain">Blockchain</a>
          </li>
        </ul>
      </div>
    </nav>
    {% if chain|length == 0 %}
    <h3 class="my-4">The chain is empty</h3>
    {% else %}
      {% if chain|length > 1 %}
      <h3 class="my-4">{{ chain|length }} Blocks in the chain</h3>
      {% else %}
      <h3 class="my-4">1 Block in the chain</h3>
      {% endif %}
    <ul>
      {% for block in chain %}
      <!-- Block Info -->
      <div class="row d-flex justify-content-center"><i class="fa-solid fa-link chain-icon"></i></div>
      <div class="row d-flex justify-content-center"><i class="fa-solid fa-link chain-icon"></i></div>
      <div class="card my-2">
        <h5 class="card-header flex-grow-1">Block {{ block["index"] }}</h5>
        <div class="card-body row">
          <div class="col-12">
            <p class="card-text">
              <strong>Timestamp:</strong> {{ block["timestamp"] }}
            </p>
            {% if block["validator"] != "-" %}
            <p class="card-text">
              Validator node{{ block["validator"] }} received {{ block["fees"] }} BCC
            </p>
            {% else %}
            <p class="card-text">No validator</p>
            {% endif %}
            <p class="card-text">
              <strong>Hash:</strong> {{ block["current_hash"] }}
            </p>
            <div class="my-3">
              <h4 class="card-text">{{ block["transactions"]|length }} Transactions:</h4>
              <ol>
                {% for transaction in block["transactions"] %}
                <li>{{ transaction }}</li>
                {% endfor %}
              </ol>
            </div>
            <a class="block-link my-3" href="/block/{{ block["index"] }}" target="_blank">View Block's Details >></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </ul>
    {% endif %}
    <script
      src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}"
      async
    ></script>
  </body>
</html>
